[Unit]
Description=gunicorn3 for hackaday-01-homepage
After=network.target

[Service]
Type=simple
WorkingDirectory=/hackaday/day01_homepage
ExecStart=/bin/gunicorn3 -e SCRIPT_NAME=/hackaday/homepage --bind 0.0.0.0:8001 app:app

[Install]
WantedBy=multi-user.target
