/* -- This specific Hack-A-Day project -- */

section.content {
    margin: 20px 0 20px 0;
}

.homepage-list {
    margin: 20px 0 20px 0;
}

.homepage-form {
    max-width: 200px;
    display: inline-block;
    margin: 10px;
}

.edit .form-group {
    margin-left: 10px;
}

.homepage {
    border: 2px solid;
    width: 100%;
    border-radius: 10px;
}
.homepage td {
    padding: 5px;
    margin: 5px;
    background-color: lightyellow;
}

.homepage .field-name {
    font-weight: bold;
    width: min-content;
}

/* -- All Hack-A-Day projects -- */
.about {
    white-space: pre-wrap;
}
.footer {
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
}
.footer ul {
    list-style: none;
    padding-left: 5px;
}

.navbar-brand-link a {
    color: #777;
}
.navbar-brand-link a:hover {
    color: #000;
    text-decoration: none;
}
