{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ user_id }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="edit">
    <table class="homepage">
    {% for field in fields.input %}
    {% if field.value != "" %}
    <tr>
        <td><span class="field-name">{{ field.display }}</label></td>
        <td><span>{{ field.displayValue | safe }}</span></td>
    </tr>
    {% endif %}
	{% endfor %}
	{% for field in fields.textarea %}
    {% if field.value != "" %}
    <tr>
        <td><span class="field-name">{{ field.display }}</label></td>
        <td><span>{{ field.displayValue | safe }}</span></td>
    </tr>
    {% endif %}
	{% endfor %}
    </table>
</form>
{% endblock %}
